.label {
  display: flex;
  flex-direction: column;
  width: 235px;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 17px;
}

.input {
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  outline: none;
}
